<header>
    <div class="left-nav">
        <a *ngFor="let game of games; let i = index" class="game-placement">
            <div *ngIf="i == 1" class="pointer"></div>
            <img class="game-image" src="assets/images/{{ this.game.image }}" alt="{{this.game.name}}">
            <span class="game-name" [ngClass]="i == 1 && 'game-name-active'"> {{ this.game.name }} </span>
        </a>
    </div>

    <div class="right-nav">
        <div class="balance">
            <span class="number">{{ balance.toFixed(2) }}</span>
            <span class="currency">$</span>
        </div>
        <div class="right-buttons-group">
            <img class="right-button" src="assets/images/avatar.svg" alt="profile">
            <img class="right-button" src="assets/images/message.svg" alt="messages">
        </div>
    </div>
</header>
