header {
    display: flex;
    justify-content: space-between;
}

// right side of navigation
.right-nav {
    display: flex;
}

.game-placement {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border-left: 1px solid rgba(255, 255, 255, .1);
    width: 64px;
    height: 100%;
    justify-content: center;
}

// left side of navigation
.left-nav {
    display: flex;
}