:root {
    --color: #13B893;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--color);
    background-color: #1D1E25;
}

/* left side of navigation */
.left-nav {
    display: flex;
    background-color: inherit;
}

a {
    text-decoration: none;
    background-color: inherit;
}

.game-placement {
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-left: 1px solid rgba(255, 255, 255, .1);
    width: 65px;
    height: 50px;
    padding-top: .5em;
}

.game-placement:last-child {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.pointer {
    position: absolute;
    top: -2px;
    background-color: var(--color);
    height: .25em;
    width: 3.2em;
    border-radius: 16px;
}

.game-image {
    width: 1.5em;
    height: 1.5em;
    background-color: inherit;
    padding-bottom: .2em;
}

.game-name {
    color: #99a2ab;
    font-family: "BPG Arial", sans-serif;
    font-size: .625rem;
    margin: .225em 0;
}

.game-name-active, .game-name-active-hov {
    color: #ffffff;
    font-weight: 500;
}

/* right side of navigation */
.right-nav {
    display: flex;
    align-items: center;
    background-color: inherit;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: rgba(0,0,0,.31);
    border-radius: 7px;
    width: 150px;
    height: 30px;
    user-select: none;
}

.number {
    background-color: inherit;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
}

.currency {
    color: greenyellow;
    background-color: inherit;
}

.right-buttons-group {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    margin-right: .6em;
}

.right-button {
    background-color: #373a43;
    border-radius: 7px;
    padding: .35em;
    width: 1.85em;
    height: 1.85em;
    margin-left: .6em;
}

/*.popup {*/
/*  background-color: #2e313b;*/
/*}*/
