<header>
    <div class="left-nav">
        <a *ngFor="let game of games; let i = index" class="game-placement" (click)="changeColor(i)"
           [routerLink]="[game.url]" (mouseover)="hov = i" (mouseleave)="hov = null">
              <div routerLinkActive="pointer"></div>
              <div *ngIf="i == hov" class="pointer" [ngStyle]="{backgroundColor: game.color}"></div>
              <img class="game-image" src="assets/images/{{ this.game.image }}" alt="{{this.game.name}}">
              <span class="game-name" routerLinkActive='game-name-active'
                    [ngClass]="i == hov && 'game-name-active-hov'"> {{ this.game.name }} </span>
        </a>
    </div>

    <div class="right-nav">
        <div class="balance">
            <span class="number">{{ balance | async | number: '.2-2' }}</span>
            <span class="currency">$</span>
        </div>
        <div class="right-buttons-group">
            <img class="right-button" src="assets/images/profile.svg" alt="profile" (click)="openDialog()">
            <img class="right-button" src="assets/images/message.svg" alt="messages">
        </div>
    </div>
</header>
