<main>
  <div class="stats-table">
    <span class="current-bet" [ngClass]="{ 'active' : currentPage }" (click)="activeTab(true)">CURRENT BETS</span>
    <span class="top-wins" [ngClass]="{ 'active' : !currentPage }" (click)="activeTab(false)">TOP WINS</span>
  </div>
  <div class="bet-stats-row-header">
    <span class="table-col">Game</span>
    <span class="table-col player">Player</span>
    <span class="table-col">Bet</span>
    <span class="table-col">Result</span>
    <span class="table-col">Win</span>
    <span class="table-col"></span>
  </div>

  <div *ngIf="currentPage">
    <div class="border">
    <div class="container" id="container" [ngStyle]="test && {top: '3em'}">
      <div *ngFor="let currentBet of currentBets">
        <app-user [data]="currentBet"></app-user>
      </div>
    </div>
    </div>
  </div>

  <div *ngIf="!currentPage">
    <div *ngFor="let topWin of topWins">
      <app-user [data]="topWin"></app-user>
    </div>
  </div>

</main>

<button (click)="addElement()">adden</button>
