<!-- <mat-tab-group mat-align-tabs="center"> -->
    
    <!-- <mat-tab>
        <ng-template mat-tab-label>
            <div class="main-tabs">CURRENT BETS</div>
        </ng-template>
        <div>test 1</div>
    </mat-tab> -->
    
    <!-- <mat-tab>
        <ng-template mat-tab-label>
            <div class="main-tabs">TOP WINS</div>
        </ng-template>
        <div *ngFor="let topWin of topWins" class="bet-stats">
            <div class="header">
                <span>Game</span>
                <span>Player</span>
                <span>Bet</span>
                <span>Result</span>
                <span>Win</span>
            </div>
            <span>{{ topWin.game }}</span>
            <span>{{ topWin.player }}</span>
            <span>{{ topWin.bet }}</span>
            <span>{{ topWin.result }}</span>
            <span>{{ topWin.win }}</span>
        </div>
    </mat-tab>

</mat-tab-group> -->