main {
  color: white;
  width: 50%;
  margin: auto;
  user-select: none;
}

.stats-table {
  display: flex;
  justify-content: center;
}

.current-bet, .top-wins {
  margin: 1em 2em;
  font-size: 1rem;
  color: #cccccc;
}

.active, .current-bet:hover, .top-wins:hover {
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.bet-stats-row-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr .3fr;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: .75rem;
  border-radius: 10px;
  color: #b0bbc8;
}

.table-col {
  text-align: left;
  padding: 1em 1.5em;
}

.player {
  margin-left: 1.2em;
}

.border {
  height: 450px;
  overflow: hidden;
 }

@-webkit-keyframes move {
  0% {
    transform: translateY(-3em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateY(-3em);
  }
  100% {
    transform: translateY(0);
  }
}
