main {
  color: white;
  width: 940px;
  margin: auto;
}

.stats-table {
  display: flex;
  justify-content: center;
}

.current-bet, .top-wins {
  margin: 1em 2em;
  font-size: 1rem;
  color: #cccccc;
}

.active, .current-bet:hover, .top-wins:hover {
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.bet-stats-row-header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr .3fr;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: .75rem;
  border-radius: 10px;
}

.table-col {
  text-align: left;
  padding: 1em;
}
