<div class="bet-stats-row">
  <div class="table-col-data">
    <img src="assets/images/{{ game[topWin.index].image }}" alt="game" class="game-image">
    <span class="game-name">{{topWin.game}}</span>
  </div>
  <div class="table-col-data">
    <img src="{{topWin.avatar}}" alt="avatar" class="player-avatar">
    <span class="player-name">{{ topWin.player }}</span>
  </div>
  <span class="table-col-data bet">{{ topWin.bet }}</span>
  <span class="table-col-data result">{{ topWin.result }}</span>
  <span class="table-col-data win">{{ topWin.win }}</span>
  <img src="assets/images/watermark.svg" alt="verified" class="verified">
</div>
