.container {
  display: flex;
//justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 250px;
  padding: 10px;

.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
div {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
button {
  box-sizing: border-box;
  font-size: 13px;
  padding: 0;
  margin: 0;
  border: transparent;
  min-width: 87px;
  height: 28px;
  color: #fff;
  background: 0 0;
  cursor: pointer;
  transition: opacity 0.3s;
  outline: none;
}
}
}

.bet-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  color: #fff;

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
input {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 28px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  outline: none;
  background: none;
  border-radius: 100px;
  border: 1px solid;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}
button:active {
  transform: translateY(4px);
}
}
.buttons-group {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
div {
  margin: 5px;
}
button {
  font-size: 12px;
  width: 55px;
  height: 18px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.46);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: unset;
  cursor: pointer;
  outline: none;
}
button:active {
  transform: translateY(4px);
}
}
}

.field-size {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  padding-bottom: 5px;
  border-radius: 8px;
  text-align: center;
label {
  color: #95b79d;
}
.row1 {
  display: grid;
  grid-template-columns: auto auto auto;
div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
}
}

button {
  border-radius: 5px;
}
}
.row {
  display: flex;
  flex-direction: row;
}
.bigBtn-div {
  display: flex;
  padding-top: 5px;
  width: 100%;
}
.bigBtn {
  background-image: linear-gradient(82deg, #97d913, #6fc10a);
  box-shadow: 0 2px 0 0 #2e4c03;
  color: #223c06;
  cursor: pointer;
  height: 50px;
  border: none;
  outline: none;
  width: 100%;

}

.minus-btn {
  background-image: url(../../../../../assets/goal/images/icon-btn-minus.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 28px;
  z-index: 10;
  cursor: pointer;
}
.plus-btn {
  background-image: url(../../../../../assets/goal/images/icon-btn-plus.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 28px;
  z-index: 10;
  cursor: pointer;
}
.background-btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 4px;
}
.active {
  background: rgba(255,255,255,.26);
}
.disabled{
  opacity: 0.5;
}
.active-box {
  cursor: pointer;
  background-image: radial-gradient(circle at 80% 150%,#f3f8ee 73%,#fff 100%);
}
@media screen and (max-width: 400px){
  .container {
    width: 300px;
    height: 220px;
    margin-bottom: 50px;
  }
  .field-size {
    margin-top: 3px;
  }
  .bet-amount {
    margin-top: 3px;
  }
}
